.homepage {
  min-height: 100vh;
  height: auto;
  background-image: url("../../assets/background-2.png");
  background-color: #2d3439;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: #f3d774; /* Text color */
  font-weight: 900;
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(3, 38, 46, 0.8);
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

.logo {
  width: 30rem;
}

.start_btn {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.75;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  white-space: nowrap;
  background-image: url("../../assets/button\ img\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  width: 180px;
  height: 60px;
  font-family: "roboto", sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: white;
}
